@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --table-border:#555;
  --primary-text-size:'10px';

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  
}


@keyframes blink {
  0% {
    background-color: #ebf8ff;
  }

  50% {
    background-color: #bee3f8;
  }

  100% {
    background-color: transparent;
  }
}

.blink-row {
  animation: blink 1s ease-in-out 3;
}
.table-header-10 {
  font-size: 12px;
  padding: 0.25rem;
  
}
.table-body-10 {
  font-size: 12px;
  font-weight: 600;
  padding: 0.25rem;

}
.table-footer-10 {
  font-size: 12px;
  font-weight: 500;
  padding: 0.25rem;

}
.table-footer-text {
  font-size: 14px;
  font-weight: 500;
}
.input-date {
  border: 1px solid #eee;
  height: 31px;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 8px;
}

.type-inputs {
  border: 1px solid #666;
  height: 25px;
  font-size: 12px;
  padding: 2px;
}

.date-input {
  width: 100%;
  padding: 0.45rem;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}